<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Live Data</title>
        <link rel="icon" href="images/introlab_icon.png">
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid"> 

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="https://github.com/introlab/mars">MARS</a>
                    </div>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='/'>Live Data</a></li>
                        <li><a href="/config">Configure</a></li>
                    </ul>
                </div>

                </div>
            </nav>

            <div class="container-fluid content main">
                <div class="row content">
                    <div class="col-md-3 layout">
                        <h2>Mars Data</h2>
                        <p>Params</p>
                    </div>
                    <div class="col-md-6 layout">
                        <div class="row graph-row">
                            <div class="col-xs-6 content">
                                <h4 class="abs_head">Source Activity</h4>
                                <canvas class="graph content"></canvas>
                            </div>
                            <div class="col-xs-6 content">
                                <h4 class="abs_head">Source Elevation</h4>
                                <canvas class="graph content"></canvas>
                            </div>
                        </div>
                        <div class="row graph-row">
                            <div class="col-xs-6 content">
                                <h4 class="abs_head">Source Energy</h4>
                                <canvas class="graph"></canvas>
                            </div>
                            <div class="col-xs-6 content">
                                <h4 class="abs_head">Source Azimut</h4>
                                <canvas class="graph"></canvas>
                            </div>
                        </div>
                        <div class="row sphere-row">
                            <div class="col-xs-12 content">
                                <h4 id="sphere_heading">Active sources locations</h4>
                                <canvas id="sphere"></canvas>
                                <canvas id="axis"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 layout">
                        <h2>Sources</h2>
                        <table class="table table-hover" id="source_table">
                            <tr v-for = "source in sources">
                                <td>
                                    <div class="checkbox"  onclick="showHide()">
                                        <label><input type="checkbox" v-model="source.selected">Source  <span class="badge" v-bind:style = "{ 'background-color' : 'rgb('+source.rgbValueString+')' }" >{{source.index+1}}</span></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="checkbox">
                            <label><input type="checkbox" id="sim_check" v-model="checked" >Simulate data</label>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <p class="col-xs-10 text-muted">MARS platform web interface</p>
                        <a href="/legal" class="col-xs-2 text-right">Legal</a>
                    </div>
                </div>
            </footer>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/vue.js"></script>
        
        <script src="js/tcp_link.js"></script>
        
        <script src="js/three.min.js"></script>
        <script src="js/stats.min.js"></script>
        <script src="js/TrackballControls.js"></script>
        
        <script src="js/source_sphere.js"></script>
        
        <script src="js/Chart.bundle.min.js"></script>
        <script src="js/graph.js"></script>
    </body>
</html>